.hero {
  position: relative;
  
}

.hero-banner-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-attachment: fixed;
}

.hero-caption {
  position: absolute;
  width: 100%;
  padding: 5%;
  bottom: 0;
}
.hero-caption-img {
  max-width: 500px;
  margin-bottom: 30px;
  width: 100%;
}

.hero-caption p {
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.hero-buttons .btn img {
  width: 25px;
}

.hero-buttons .btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.hero-buttons .btn.dark-btn {
  background: #6d6d6eb3;
  color: #fff;
}

.hero-buttons .btn:hover {
  background: #ffffffbf;
  transition: 1s;
}
.hero-buttons .btn.dark-btn :hover {
  background: #6d6d6e66;
}

.more-cards{
  padding-left:6%;
}